@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

body
{
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
    color: #121212;
}

header
{
    position: relative;
    height: 80px;
    width: 95%;
    margin: auto;
}

header img
{
    padding-top: 20px;
    text-align: end;
    float: left;
}

#menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
}

#menu div
{
    padding-top: 50px;
    width: 150px;
}


header div:hover
{
    border-top: #0065fc solid 2px;
    color: #0065fc;
}

header div a:hover
{
    color: #0065fc;
}

#inscription a
{
    color: #0065fc;
    font-weight: bold;
}

#recherche
{
    clear: both;
    width: 95%;
    margin: auto;
}

#recherche h1
{
    font-size: 1.2em;
    font-weight: bold;
}

#recherche p
{
    font-size: 0.9em;
}

#champ_recherche
{
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
}

#logo_lieu
{
    position: relative;
    top: -1px;
    left: -1px;
    height: 30px;
    width: 40px;
    border-radius: 15px 0 0 15px;
    border: none;
    background: #f2f2f2;
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 10px;
}

#champ
{
    font-size: 1.1em;
    border: none;
}

#bouton
{
    
    top: 6px;
    left: 5px;
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway';
    font-size: 1.3em;
    border: none;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    align-content: center;
}

#bouton_small
{
    display: none;
}

#recherche #filtres
{
    position: relative;
    left: -35px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    list-style-type: none;
    align-items: center;
}

#filtres .fas
{
    background: #f2f2f2 ;
    border: none;
    border-radius: 20px 20px;
    height: 17px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #0065fc;
    justify-content: left;
}

#filtres .fa-child
{
    padding-right: 10px;
    padding-left: 10px;
}

.actual_filtre
{
    border: solid 2px #f2f2f2;
    border-radius: 20px 20px;
    justify-content: space-between;
}

#eco, #famille, #romance, #animaux
{
    margin-left: 20px;
    cursor: pointer;
}

#eco
{
    height: 36px;
    width: 160px;
}

#eco_texte
{
    padding-left: 10px;
}

#famille
{
    height: 35px;
    width: 120px;
}

#famille_texte
{
    padding-left: 10px;
}

#romance
{
    height: 35px;
    width: 150px;
}

#romance_texte
{
    padding-left: 10px;
}

#animaux
{
    height: 35px;
    width: 210px;
}

#animaux_texte
{
    padding-left: 10px;
}

#eco:hover, #famille:hover, #romance:hover, #animaux:hover
{
    color: #0065fc;
    cursor: pointer;
}

#info_logo
{
    border: #f2f2f2 2px solid;
    border-radius: 20px 20px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #0065fc;
}


#main_display
{
    display: flex;
    flex-direction: row-reverse;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

#populaire
{
    background: #f2f2f2;
    border-radius: 20px;
    min-height: 650px;
    flex: 1.1;
    justify-content: space-around;
    min-width: 29%;
    margin-top: 20px;
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#populaire h2
{
    font-size: 1.3em;
    font-weight: bold;
}

#populaire .fa-chart-line
{
    position: absolute;
    font-size: 1.3em;
    right: 30px;
    top: 30px;
}

.showcase a
{
    border: none;
    background: white;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: 160px;
    display: flex;
}

.showcase img
{
    width: 150px;
    max-height: 100%;
    max-width: 60%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.showcase .nom_prix_rating
{
    margin-left: 10px;
}

.showcase .nom_prix_rating h3
{
    font-size: 1.3em;
}

#hebergements_marseille
{
    background: #f2f2f2;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;
    flex: 3;
}

article h2
{
    font-size: 1.3em;
    margin-left: 50px;
}

#hotels
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.showcase2 a
{
    border: none;
    background: white;
    border-radius: 20px;
    margin-top: 25px;
    max-height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.showcase2 img
{
    height: 150px;
    max-width: 100%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

.showcase2 .nom_prix_rating
{
    margin-left: 10px;
}

.showcase2 .nom_prix_rating h2
{
    font-size: 1.3em;
}

.showcase2 .nom_prix_rating p
{
    position: relative;
    top: -10px;
}

.showcase:hover .showcase2:hover
{
    color: #0065fc;
}

article p a
{
    font-weight: bold;
    font-size: 1em;
    margin-left: 50px;
}

.blue_star
{
    color: #0065fc;
    margin-left: 2px;
}

.grey_star
{
    color: #b6b6b6;
    margin-left: 2px;
}

#activites
{
    width: 95%;
    margin: auto;
}

#liste_activites
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}

#liste_activites img
{
    border-radius: 15px 15px 0 0;
}

.showcase3
{
    border: #f2f2f2 2px solid;
    border-radius: 15px 15px 20px 20px;
}

.showcase3 .nom_activite
{
    position: relative;
    bottom: 5px;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
    font-size: 1.1em;
}

#groupe1, #groupe2
{
    max-width: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vieux_port
{
    max-width: 50%;
}

.showcase3 img
{
    height: 150px;
    max-width: 100%;
    border-radius: 15px 15px 0 0 ;
    object-fit: cover;
}

#vieux_port img
{
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#sousgroupe1
{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}

#pomegues
{
    width: 100%;
    max-height: 70%;
    overflow: hidden;
}

#pomegues img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#frioul
{
    margin-top: 20px;
    max-height: 50%;
    width: 100%;
    overflow: hidden;
}

#frioul img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#calanques
{
    max-width: 50%;
}

#calanques img
{
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

#sousgroupe2
{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}


#dame_garde img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
    margin: 0;
}

#longchamp
{
    margin-top: 20px;
}

#longchamp img
{
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
}

.showcase a:hover, .showcase2 a:hover, .showcase3:hover
{
    cursor: pointer;
    box-shadow: #121212 5px 5px 10px;
    border: none;
}

footer
{
    margin-top: 30px;
    display: flex;
    background: #f2f2f2;
    flex-direction: row;
    flex-wrap: wrap;
}

footer div
{
    width: 450px;
}

footer div li:first-child
{
    font-weight: bold;
}

footer div li:nth-child(2)
{
    margin-top: 20px;
}

footer div li:nth-child(3), footer div li:nth-child(4)
{
    margin-top: 8px;
}

footer ul
{
    list-style-type: none;
}

