@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
}

body
{
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

header
{
    position: relative;
    height: 60px;
}

header img
{
    padding-top: 20px;
    text-align: bottom;
    float: left;
}

header #menu
{
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    font-size: 16px;
    width: 25%;
}

header a
{
    text-decoration: none;
    color: #121212;
}

header a:hover
{
    border-top: #0065fc solid 2px;
    padding-top: 20px;
    color: #0065fc;
}

#inscription
{
    color: #0065fc;
    font-weight: bold;
}

#recherche
{
    clear: both;
}

.blue_star
{
    color: #0065fc;
}

.grey_star
{
    color: #f2f2f2;
}

section
{
    display: flex;
}

footer
{
    width: 80%;
    position: absolute;
    display: flex;
    background: #f2f2f2;
    flex-direction: row;
}

footer #a_propos
{
    margin-left: 4%;
}

footer a
{
    text-decoration: none;
    color: #121212;
}

footer ul
{
    list-style-type: none;
}