@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
         url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
}

body
{
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

header
{
    position: relative;
    height: 80px;
}

header img
{
    padding-top: 20px;
    text-align: bottom;
    float: left;
}

header #menu
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    list-style-type: none;
    padding-top: 40px;
    text-align: center;
    font-size: 16px;
}

header a
{
    margin-right: 25px;
    text-decoration: none;
    color: #121212;
}

header a:hover
{
    border-top: #0065fc solid 2px;
    padding-top: 50px;
    color: #0065fc;
}

#inscription
{
    color: #0065fc;
    font-weight: bold;
}

#recherche
{
    clear: both;
}

#recherche h1
{
    font-size: 1.2em;
    font-weight: bold;
}

#recherche p
{
    font-size: 0.9em;
}

form
{
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: solid 2px #f2f2f2;
    border-radius: 20px;
}

#logo_lieu
{
    position: relative;
    top: -2px;
    left: -1px;
    height: 29px;
    width: 40px;
    border-radius: 20px 0 0 20px;
    border: #f2f2f2 solid 2px;
    background: #f2f2f2;
    padding-top: 10px;
    padding-left: 20px;
}

#champ
{
    font-size: 1.1em;
    border: none;
}

#bouton
{

    top: 6px;
    left: 5px;
    background-color: #0065fc;
    color: white;
    font-family: 'Raleway';
    font-size: 1.3em;
    border: #0065fc solid 2px;
    border-radius: 0 15px 15px 0;
    justify-content: center;
    align-content: center;
}

#recherche #filtres
{
    position: relative;
    left: -35px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    list-style-type: none;
    align-items: center;
}

#filtres .fas
{
    background: #f2f2f2 ;
    border: solid 2px #f2f2f2;
    border-radius: 20px 20px;
    height: 17px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0065fc;
    justify-content: left;
}

#filtres .fa-child
{
    padding-right: 10px;
    padding-left: 10px;
}

.actual_filtre
{
    border: solid 2px #f2f2f2;
    border-radius: 20px 20px;
    justify-content: space-between;
}

#eco, #famille, #romance, #animaux
{
    margin-left: 20px;
    cursor: pointer;
}

#eco
{
    height: 36px;
    width: 160px;
}

#eco_texte
{
    padding-left: 10px;
}

#famille
{
    height: 35px;
    width: 120px;
}

#famille_texte
{
    padding-left: 10px;
}

#romance
{
    height: 35px;
    width: 150px;
}

#romance_texte
{
    padding-left: 10px;
}

#animaux
{
    height: 35px;
    width: 210px;
}

#animaux_texte
{
    padding-left: 10px;
}

#eco:hover, #famille:hover, #romance:hover, #animaux:hover
{
    color: #0065fc;
    cursor: pointer;
}

#info_logo
{
    border: #f2f2f2 2px solid;
    border-radius: 20px 20px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #0065fc;
}


#main_display
{
    display: flex;
    flex-direction: row-reverse;
}

#populaire
{
    background: #f2f2f2;
    border-radius: 20px;
    min-height: 650px;
    flex: 1.1;
    justify-content: space-around;
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#populaire h1
{
    font-size: 1.3em;
    font-weight: bold;
}

#populaire .fa-chart-line
{
    position: absolute;
    font-size: 1.3em;
    right: 30px;
    top: 25px;
}

.showcase
{
    border: white solid 3px;
    background: white;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
}

.showcase img
{
    width: 130px;
    height: 150px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    margin-left: 2px;
    margin-top: 1px;
}

.showcase .nom_prix_rating
{
    margin-left: 10px;
}

.showcase .nom_prix_rating h2
{
    font-size: 1.3em;
}

#hebergements_marseille
{
    background: #f2f2f2;
    border-radius: 20px;
    margin-right: 20px;
    flex: 3;
}

article h1
{
    font-size: 1.3em;
    margin-left: 50px;
}

#hotels
{
    display: flex;
    flex-wrap: wrap;
}

.showcase2
{
    border: white solid 3px;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 50px;
    max-height: 260px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}

.showcase2 img
{
    width: 260px;
    height: 150px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 ;
    margin-left: 2px;
    margin-top: 1px;
}

.showcase2 .nom_prix_rating
{
    margin-left: 10px;
}

.showcase2 .nom_prix_rating h2
{
    font-size: 1.3em;
}

.showcase2 .nom_prix_rating p
{
    position: relative;
    top: -10px;
}

.showcase:hover .showcase2:hover
{
    color: #0065fc;
}

article p a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;
    margin-left: 50px;
}

.blue_star
{
    color: #0065fc;
    margin-left: 2px;
}

.grey_star
{
    color: #b6b6b6;
    margin-left: 2px;
}


footer
{
    display: flex;
    background: #f2f2f2;
    flex-direction: row;
    flex-wrap: wrap;
}

footer div
{
    width: 300px;
}

footer div li:first-child
{
    font-weight: bold;
}

footer div li:nth-child(2)
{
    margin-top: 20px;
}

footer div li:nth-child(3), footer div li:nth-child(4)
{
    margin-top: 8px;
}

footer a
{
    text-decoration: none;
    color: #121212;
}

footer ul
{
    list-style-type: none;
}